    <div class="container bg-purple-400 m-5 p-5">
        <div>
            <h4 class="text-center text-lg">Login Form</h4>
        </div>
        <form (ngSubmit)="handleSubmit()" [formGroup]="loginForm" class="bg-purple-500 rounded">
            <div class="p-3 mx-3 my-2">
                <label for="username" class="px-2 py-1 font-medium">Username</label>
                <input type="text" formControlName="username" class="px-2 py-1 font-medium rounded">
            </div>
            <div class="p-3 mx-3">
                <label for="password" class="px-2 py-1 font-medium"> Password</label>
                <input type="password" formControlName="password" class="px-2 py-1 font-medium rounded">
            </div>
            <button type="submit" class="">Login</button>
        </form>
    </div>
